numpy
wheel
ninja
torch==2.5.1
sentencepiece==0.2.0
diffusers
transformers
torch==2.3.1+cu121, 2.5.1,
torchvision
torchaudio
xformers==0.0.27; platform_system != 'Darwin' and platform_machine !='aarch64'
-f https://download.pytorch.org/whl/
llama-cpp-python
