
Screen {
    content-align: center middle;
    layout: grid;
    grid-size: 3;
    grid-columns: 12fr 76fr 12fr;
    grid-rows: 100fr 49fr 1fr 49fr 100fr;
    background: #000000;
}
TextArea, RichLog {
    display: block;
    width: 100%;
    border: none;
    height: 48fr;
    text-wrap: wrap;
}
TextArea {
    margin-top: 0;
}
RichLog {
    width:110%;
    hatch: left #000000;
    margin-bottom: 0;

}
Container {
    width: 100%;
    height: 100%;
    # padding: 2;
}