"numpy",
"wheel",
"ninja",
"torch==2.5.1@https://download.pytorch.org/whl/cpu/nightly; platform_machine=='aarch64' or platform_system == 'Darwin'",
"torch==2.3.1+cu121@https://download.pytorch.org/whl/cu121; platform_system != 'Darwin' and platform_machine !='aarch64'",
"sentencepiece==0.2.0",
"transformers",
"xformers",