
# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python

name: nnll pytest

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  contents: read

jobs:

  test:
    runs-on: ubuntu-latest
    steps:
      - name: Run Python Tests
        uses: actions/setup-python@v5
        with:
          python-version: 3.13
        run: |
          pip cache purge
          rm -rf venv
          python -m venv .venv
          source .venv/bin/activate
          python3 -m pip install --upgrade pip
          pip install ".[dev]"
          pytest -rPvv
